:root {
	--primary: #a53e2b;
	--primary-light: rgba(255, 255, 255, 0.1);
	--primary-light2: #b04936;
	--primary-dark: rgba(0, 0, 0, 0.1);
	--secondary: #065e3b;
}

@font-face {
	font-family: merriweather;
	src: url(Merriweather-LightItalic.ttf);
	font-weight: normal;
}

html {
	background: var(--primary);
	height: 100%;
	font-family: merriweather;
}

.maincontainer {
	display: grid;

	grid-template-areas:
		". head ."
		". foto ."
		". personal ."
		". classe ."
		". ordina ."
		". . .";

	row-gap: 30px;
}

@media screen and (min-width: 830px) {
	.maincontainer {
		grid-template-areas:
			". head head head ."
			". personal . foto ."
			". classe . foto ."
			". . ordina . .";
	}
}

.error {
	padding: 5px;
	background: rgba(255, 0, 0, 0.75);
	border-radius: 5px;
	font-size: 0.5em;
}

.success {
	grid-area: head;
	padding: 5px;
	background: rgba(50, 205, 50, 0.75);
	border-radius: 5px;
}

input {
	background: var(--primary-light);
	outline: none;
}

input::placeholder {
	color: darkslategray;
}

.ordine {
	grid-area: ordine;
	text-align: center;
}

.outline {
	border: solid var(--secondary) 3px;
	padding: 5px;
	box-shadow: 0 10px 0.4em rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	background: rgb(209, 196, 175);
}

input:hover {
	background: rgba(255, 255, 255, 0.01);
}

.ordina {
	grid-area: ordina;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ordina button {
	width: 60%;
}

@media screen and (min-width: 830px) {
	.ordina button {
		width: 100%;
	}
}

.mainimage {
	grid-area: foto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}
.mainimage img {
	border-radius: 25px;
	box-shadow: 5px 5px 5px var(--primary-light);
}

.maininfo {
	grid-area: info;
}

.numbers {
	display: flex;
	flex-direction: row;
	gap: 15px;

	align-items: center;
	justify-content: space-around;
}

.numbers button {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: white;
}
.numbers button:hover {
	background: var(--primary-light);
}

.classe {
	grid-area: classe;
	text-align: center;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: space-around;

	font-size: 1.2em;
}

.nome {
	grid-area: personal;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.8em;
}

.nome input {
	width: 60%;
	border-radius: 5px;
	border: solid 2px gray;
}
